html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: "PPNeueMachina";
  scroll-behavior: smooth;
  background-color: #111E14;
  overflow-x: hidden;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

@font-face {
  font-family: "PPNeueMachina";
  src: url(../fonts/NeueMachina-Regular.woff), url(../fonts/NeueMachina-Regular.woff2);
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PPNeueMachina";
  src: url(../fonts/NeueMachina-Ultrabold.woff), url(../fonts/NeueMachina-Ultrabold.woff2);
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}
.no-scroll {
  overflow: hidden;
}

.title {
  font-size: 30px;
  font-weight: 800;
  color: #00B41D;
  text-transform: uppercase;
}
.title span {
  color: #F2F2F2;
}

.header {
  padding: 43px 0;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  font-size: 18px;
  font-weight: 800;
  color: #00B41D;
}
.header .menu {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu__link {
  margin-right: 65px;
  font-size: 16px;
  color: #00B41D;
}
.header .menu__link:last-of-type {
  margin-right: 0;
}
.header .hamburger {
  margin-left: auto;
  display: none;
  width: 28px;
  height: 18px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header .hamburger span {
  width: 28px;
  height: 2px;
  background: #00B41D;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.header .hamburger span::before {
  content: "";
  width: 28px;
  height: 2px;
  position: absolute;
  background: #00B41D;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.header .hamburger span::after {
  content: "";
  width: 28px;
  height: 2px;
  position: absolute;
  background: #00B41D;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.header .hamburger.active span {
  width: 28px;
  height: 1.5px;
  position: relative;
  background: transparent;
}
.header .hamburger.active span::before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .hamburger.active span::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .hamburger.zindex {
  z-index: 2;
}

.primary {
  margin-top: 16px;
  padding-bottom: 100px;
}
.primary__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.primary__item {
  width: 340px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #223E22;
  border-radius: 12px;
}
.primary__item-text {
  margin-left: 20px;
  color: #FFFFFF;
}
.primary__item-icon2 {
  display: none;
}
.primary__left {
  margin-right: 40px;
}
.primary__left-item:nth-of-type(1) {
  margin-right: 72px;
}
.primary__left-item:nth-of-type(2) {
  margin-top: 40px;
  margin-left: auto;
}
.primary__right {
  margin-left: 40px;
}
.primary__right-item:nth-of-type(1) {
  margin-left: 72px;
}
.primary__right-item:nth-of-type(2) {
  margin-top: 40px;
  margin-right: auto;
}
.primary-bot {
  margin-top: -55px;
  padding: 95px 0;
  background-color: #00B41D;
}
.primary-bot__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.primary-bot__title {
  display: none;
}
.primary-bot__link {
  margin: 0 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 58px;
  padding: 19px 0 22px;
  font-size: 18px;
  font-weight: 800;
  color: #111E14;
  border-radius: 45px;
  background-color: #F2F2F2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.primary-bot__link:hover {
  color: #F2F2F2;
  background-color: #111E14;
}

.apps {
  padding: 100px 0;
}
.apps__title {
  text-align: center;
}
.apps__subtitle {
  margin-top: 25px;
  font-size: 20px;
  color: #00B41D;
  text-align: center;
}
.apps__items {
  margin-top: 45px;
  border-top: 1px solid #00B41D;
  border-bottom: 1px solid #00B41D;
}
.apps__items-inner {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.apps__item:nth-of-type(2) img {
  width: 218px;
}
.apps__item img {
  width: 80px;
  height: 80px;
}

.why {
  padding: 100px 0;
}
.why__title {
  text-align: center;
}
.why__items {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 31px 19px;
}
.why__item {
  min-height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 20px 10px;
  border-radius: 12px;
  background-color: #F2F2F2;
}
.why__item:nth-child(odd) {
  background-color: #00B41D;
}
.why__item-title {
  font-size: 25px;
  font-weight: 800;
  color: #111E14;
}
.why__item-img {
  margin-top: 26px;
}
.why__item-text {
  margin-top: auto;
  color: #111E14;
  text-align: center;
}

.map {
  padding: 100px 0;
}
.map__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.map__subtitle {
  margin-left: 200px;
  font-size: 18px;
  color: #F2F2F2;
}
.map__img {
  margin-top: 62px;
}
.map__img2 {
  display: none;
}

.reviews {
  padding: 100px 0;
}
.reviews__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 18px;
}
.reviews__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}
.reviews__item-author {
  font-size: 18px;
  font-weight: 800;
  color: #F2F2F2;
}
.reviews__item-text {
  margin-top: 25px;
  font-size: 18px;
  color: #00B41D;
}
.reviews__item-link {
  margin-top: 25px;
  color: #00B41D;
  text-align: right;
}
.reviews__item-link:hover a {
  color: #F2F2F2;
}
.reviews__item-link:hover a::before {
  background-color: #F2F2F2;
}
.reviews__item-link a {
  color: #00B41D;
  position: relative;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.reviews__item-link a::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #00B41D;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.try {
  margin: 100px 0;
  padding: 130px 0;
  background-color: #00B41D;
}
.try__title {
  text-align: center;
  color: #111E14;
}
.try__items {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}
.try__item {
  height: 90px;
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 12px;
  border: 1px solid #F2F2F2;
}
.try__item-text {
  display: inline;
  font-size: 18px;
  font-weight: 800;
  line-height: 17.3px;
  color: #F2F2F2;
  text-align: center;
}
.try__item-text:hover a {
  color: #111E14;
}
.try__item-text a {
  color: #F2F2F2;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.faq {
  padding: 100px 0;
}
.faq__wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 19px;
}
.faq__item {
  padding: 18px 0;
  border-bottom: 2px solid #00B41D;
}
.faq__item:nth-of-type(1) {
  padding: 0 0 18px;
}
.faq__item-active .faq__item-arrow {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
.faq__item-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.faq__item-title {
  font-size: 18px;
  color: #00B41D;
}
.faq__item-arrow {
  margin-left: auto;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.faq__item-content {
  height: 0;
  font-size: 18px;
  line-height: 23px;
  color: #F2F2F2;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}

.footer {
  margin-top: 100px;
  padding: 99px 0 46px;
  background-color: #00B41D;
}
.footer__top {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 19px;
}
.footer__item-text {
  font-size: 80px;
  text-transform: uppercase;
  color: #111E14;
}
.footer__item-text span {
  color: transparent;
  -webkit-text-stroke: 2px #111E14;
}
.footer__item-link {
  font-size: 30px;
  font-weight: 800;
  color: #111E14;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
}
.footer__item-link::before {
  content: url(../images/telegram.svg);
  position: absolute;
  bottom: -5px;
  right: -55px;
}
.footer__item-link:hover {
  color: #F2F2F2;
}
.footer__contact-title {
  color: #111E14;
}
.footer__telephone, .footer__email {
  margin-top: 20px;
  display: block;
  font-size: 18px;
  color: #111E14;
}
.footer__email {
  margin-top: 7px;
}
.footer__divider {
  margin-top: 38px;
  width: 100%;
  height: 1px;
  background-color: #111E14;
}
.footer__bot {
  padding: 12px 0 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.footer__bot-item {
  grid-column: 3/4;
}
.footer__copyright {
  color: #111E14;
}
.footer__policy {
  display: inline-block;
  margin-right: 18px;
  color: rgba(17, 30, 20, 0.7);
  text-transform: lowercase;
  position: relative;
}
.footer__policy::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(17, 30, 20, 0.7);
}
.footer__termsofuse {
  display: inline-block;
  color: rgba(17, 30, 20, 0.7);
  position: relative;
}
.footer__termsofuse::before {
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgba(17, 30, 20, 0.7);
}

@media only screen and (max-width: 1440px) {
  .container {
    padding: 0 15px;
  }
  .header {
    padding: 20px 0;
  }
  .primary {
    margin-top: 10px;
  }
  .primary__center-img {
    width: 220px;
  }
  .primary-bot {
    padding: 80px 0;
  }
}
@media only screen and (max-width: 1240px) {
  .why__item {
    padding: 20px 10px 10px;
  }
  .map__subtitle {
    margin-left: 133px;
  }
  .footer {
    padding: 90px 0 26px;
  }
  .footer__item-text {
    line-height: 77px;
  }
  .footer__item-text span {
    display: block;
  }
  .footer__divider {
    margin: 0;
  }
}
@media only screen and (max-width: 1170px) {
  .primary__item {
    width: 290px;
  }
  .primary__left {
    margin-right: 25px;
  }
  .primary__left-item:nth-of-type(1) {
    margin-right: 57px;
  }
  .primary__right {
    margin-left: 25px;
  }
  .primary__right-item:nth-of-type(1) {
    margin-left: 57px;
  }
  .why__item-text {
    font-size: 14px;
  }
  .reviews__wrapper {
    grid-template-columns: 0.8fr 2.2fr;
  }
  .reviews__item-text {
    font-size: 16px;
  }
  .try__item-text {
    font-size: 16px;
  }
  .faq__wrapper {
    grid-template-columns: 0.8fr 2.2fr;
  }
  .footer__item-text {
    font-size: 70px;
    line-height: 65px;
  }
  .footer__item-link {
    font-size: 26px;
  }
  .footer__item-link::before {
    right: -45px;
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
  }
  .footer__contact-title {
    font-size: 26px;
  }
}
@media only screen and (max-width: 1024px) {
  .primary {
    padding-bottom: 50px;
  }
  .primary__center-img {
    width: 193px;
  }
  .primary__item {
    margin-top: 45px;
    width: 100%;
    height: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    background-color: transparent;
  }
  .primary__item:nth-of-type(1) {
    margin-top: 0;
  }
  .primary__item-icon2 {
    display: block;
  }
  .primary__item-icon {
    display: none;
  }
  .primary__item-text br {
    display: none;
  }
  .primary__left {
    margin-right: 100px;
  }
  .primary__left-item:nth-of-type(2) {
    margin: 45px 0 0;
  }
  .primary__right {
    display: none;
  }
  .primary-bot {
    padding: 95px 0 0;
    margin-top: 0;
    background-color: transparent;
  }
  .primary-bot__wrapper {
    display: block;
  }
  .primary-bot__title {
    display: block !important;
  }
  .primary-bot__title .br1 {
    display: none;
  }
  .primary-bot__link {
    margin: 20px auto 0;
  }
  .primary-bot__link:nth-of-type(2) {
    width: 205px;
    height: 100%;
    display: block;
    margin: 25px auto 0;
    padding: 0;
    position: relative;
    font-size: 16px;
    color: #F2F2F2;
    background-color: transparent;
  }
  .primary-bot__link:nth-of-type(2)::before {
    content: "";
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #F2F2F2;
  }
  .apps {
    padding: 50px 0;
  }
  .apps__title {
    display: none;
  }
  .apps__subtitle {
    margin: 0;
    text-align: left;
  }
  .apps__item img {
    width: 42px;
    height: 42px;
  }
  .apps__item:nth-of-type(2) img {
    width: 100%;
    height: 42px;
  }
  .why {
    padding: 50px 0;
  }
  .why__items {
    margin-top: 20px;
    display: block;
  }
  .why__item {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 25px 0;
    border-top: 1px solid #00B41D;
    border-radius: 0;
    background-color: transparent;
  }
  .why__item:nth-child(odd) {
    background-color: transparent;
  }
  .why__item:last-of-type {
    border-bottom: 1px solid #00B41D;
  }
  .why__item-title {
    font-size: 19px;
    color: #00B41D;
    text-transform: uppercase;
  }
  .why__item-img {
    display: none;
  }
  .why__item-text {
    margin: 0;
    text-align: left;
    color: #F2F2F2;
  }
  .map {
    padding: 50px 0;
  }
  .map__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map__subtitle {
    margin: 20px 0 0 0;
    font-size: 14px;
  }
  .map__img {
    display: none;
  }
  .map__img2 {
    margin-top: 35px;
    display: block;
  }
  .map__img2 img {
    width: 100%;
  }
  .reviews {
    padding: 50px 0;
  }
  .reviews__wrapper {
    display: block;
  }
  .reviews__items {
    margin-top: 20px;
    gap: 35px;
  }
  .reviews__item-text {
    margin-top: 15px;
  }
  .reviews__item-link a {
    display: inline-block;
  }
  .try {
    margin: 50px 0;
    padding: 40px 0;
  }
  .try__title span {
    display: block;
  }
  .try__items {
    margin-top: 30px;
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .try__item-text {
    font-size: 18px;
  }
  .faq {
    padding: 50px 0;
  }
  .faq__wrapper {
    display: block;
  }
  .faq__item:nth-of-type(1) {
    padding: 18px 0;
  }
  .footer {
    margin-top: 50px;
    padding: 0;
  }
  .footer__top {
    display: block;
  }
  .footer__item {
    padding: 18px 0;
    border-bottom: 1px solid rgba(17, 30, 20, 0.7);
  }
  .footer__item:nth-of-type(1) {
    display: none;
  }
  .footer__item:nth-of-type(3) {
    border-bottom: none;
  }
  .footer__item-link {
    font-size: 18px;
    font-weight: 400;
    color: #F2F2F2;
  }
  .footer__item-link br {
    display: none;
  }
  .footer__item-link::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    background-color: #F2F2F2;
  }
  .footer__contact-title {
    font-size: 18px;
    font-weight: 400;
    text-transform: capitalize;
  }
  .footer__telephone, .footer__email {
    margin-top: 10px;
    font-size: 14px;
  }
  .footer__email {
    margin: 0;
  }
  .footer__divider {
    background-color: rgba(17, 30, 20, 0.7);
  }
  .footer__bot {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .footer__bot-item {
    padding: 18px 0;
    border-bottom: 1px solid rgba(17, 30, 20, 0.7);
  }
  .footer__policy {
    margin: 0;
    font-size: 14px;
    color: #111E14;
    text-transform: inherit;
  }
  .footer__policy::before {
    display: none;
  }
  .footer__termsofuse {
    display: none;
  }
  .footer__copyright {
    padding: 18px 0;
    font-size: 14px;
    color: #111E14;
  }
}
@media only screen and (max-width: 576px) {
  .title {
    font-size: 24px;
  }
  .header {
    padding: 20px 0;
  }
  .header .hamburger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 3;
  }
  .header .menu {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: -100%;
    padding: 60px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    z-index: 2;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-color: #111E14;
  }
  .header .menu.menu__active {
    left: 0;
  }
  .header .menu__link {
    margin: 25px 0 0;
    font-size: 18px;
    font-weight: 800;
  }
  .header .menu__link:nth-of-type(1) {
    margin: 0;
  }
  .primary__left {
    margin: 50px 0 0;
  }
  .primary__left-item:nth-of-type(2) {
    margin-top: 10px;
  }
  .primary__item {
    margin-top: 10px;
    width: 100%;
    height: 90px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #223E22;
    border-radius: 12px;
  }
  .primary__item-icon {
    display: block;
  }
  .primary__item-icon2 {
    display: none;
  }
  .primary__item-text {
    width: 153px;
  }
  .primary__item-text br {
    display: block;
  }
  .primary__center-img {
    width: 144px;
  }
  .primary-bot {
    padding: 35px 0 0;
  }
  .primary-bot__title {
    font-size: 30px;
  }
  .primary-bot__title .br1 {
    display: block;
  }
  .primary-bot__link {
    width: 340px;
  }
  .apps__subtitle {
    font-size: 14px;
  }
  .apps__items {
    margin-top: 20px;
  }
  .apps__items-inner {
    padding: 15px 0;
  }
  .apps__item:nth-of-type(2) {
    display: none;
  }
  .why__item {
    display: block;
    padding: 16px 0;
  }
  .why__item-text {
    margin-top: 10px;
  }
  .map_img2 {
    margin-top: 15px;
  }
  .reviews .container {
    padding: 0 0 0 15px;
  }
  .reviews__title {
    position: relative;
  }
  .reviews__title::after {
    content: url(../images/arrow-longer.svg);
    position: absolute;
    top: -7px;
    right: 15px;
  }
  .reviews__items {
    width: calc(100% - 15px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .reviews__items::-webkit-scrollbar {
    display: none;
  }
  .reviews__item {
    min-width: calc(100% - 90px);
    margin-right: 15px;
  }
  .reviews__item:last-of-type {
    margin-right: 0;
  }
  .reviews__item-link {
    margin-top: 0px;
  }
  .try__title span {
    display: inline-block;
  }
  .try__item {
    padding: 0;
  }
  .try__item-text {
    font-size: 16px;
  }
  .faq__item {
    padding: 15px 0;
  }
  .faq__item:nth-of-type(1) {
    padding: 20px 0 15px;
  }
  .faq__item-title {
    font-size: 14px;
  }
  .faq__item-arrow {
    width: 20px;
    height: 9px;
  }
  .faq__item-content {
    font-size: 14px;
    line-height: 18.2px;
  }
}