@font-face {
    font-family: 'PPNeueMachina';
    src: url(../fonts/NeueMachina-Regular.woff),
    url(../fonts/NeueMachina-Regular.woff2);
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'PPNeueMachina';
    src: url(../fonts/NeueMachina-Ultrabold.woff),
    url(../fonts/NeueMachina-Ultrabold.woff2);
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}